*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(1, 235, 243);
}
p{
    color: rgb(1, 235, 243);
}
.container{
    max-width: 1700px;
    margin: auto;
    padding-left: 25px;
}
.header{
    background: url('background0.jpg');
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 79.15%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: yellow;
}
.col-2 p{
    color: gold;
    font-size: 20px;
    font-style: bold;
}
.btn{
    display: inline-block;
    background: #3b69ff;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #181d35;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/* media query */
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 110px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
@media only screen and (max-width:600px){
    .row{
        text-align: center;
        }
    .col-2{
        flex-basis: 100%;
    }
}
